@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 180 8% 95%;
		--foreground: 180 8% 5%;

		--card: 180 10% 94%;
		--card-foreground: 180 8% 5%;

		--popover: 180 10% 94%;
		--popover-foreground: 180 8% 5%;

		--primary: 183 95% 44%;
		--primary-foreground: 180 9% 2%;

		--secondary: 190 12% 91%;
		--secondary-foreground: 180 8% 5%;

		--muted: 180 8% 91%;
		--muted-foreground: 183 9% 45%;

		--accent: 180 8% 91%;
		--accent-foreground: 180 8% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 180 9% 87%;
		--input: 180 9% 80%;
		--ring: 183 36% 72%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 3% 6%;
		--foreground: 0 0% 98%;

		--card: 210 6% 7%;
		--card-foreground: 0 0% 98%;

		--popover: 210 6% 7%;
		--popover-foreground: 0 0% 98%;

		--primary: 232 79% 31%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 5% 15%;
		--secondary-foreground: 0 0% 98%;

		--muted: 230 5% 22%;
		--muted-foreground: 235 5% 49%;

		--accent: 233 45% 14%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5% 12%;
		--input: 240 4% 18%;
		--ring: 233 78% 40%;
	}
}
@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply w-full h-full;
	}
	body {
		@apply bg-background text-foreground w-full h-full;
	}
	#root {
		@apply w-full h-full;
	}
}

/* Typography */
h1 {
	@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
	@apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
}

h3 {
	@apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
	@apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
	@apply leading-7;
}

blockquote {
	@apply mt-6 border-l-2 pl-6 italic;
}

code {
	@apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}
